src/test/resources/reference/xsd/testgml33.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:t="http://www.opengis.net/ows8/test/2" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/ows8/test/2" version="0.1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AssociationClass" substitutionGroup="gml:AbstractGML" type="t:AssociationClassType"/>
  <complexType name="AssociationClassType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="attc" type="string"/>
          <element name="role" type="t:Test2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">t:role2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="role2" type="t:TestPropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">t:role</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AssociationClassPropertyType">
    <sequence minOccurs="0">
      <element ref="t:AssociationClass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Class1" substitutionGroup="gml:AbstractGML" type="t:Class1Type"/>
  <complexType name="Class1Type">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="test">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="t:Class3"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Class1PropertyType">
    <sequence minOccurs="0">
      <element ref="t:Class1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Class3" substitutionGroup="gml:AbstractGML" type="t:Class3Type"/>
  <complexType name="Class3Type">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="test">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="t:Class1"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Class3PropertyType">
    <sequence minOccurs="0">
      <element ref="t:Class3"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Test" substitutionGroup="gml:AbstractFeature" type="t:TestType"/>
  <complexType name="TestType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att2" type="gml:MeasureType"/>
          <element name="att1" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ClassificationCode</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="feature" type="gml:FeaturePropertyType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gml:AbstractFeature</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="role" type="t:AssociationClassPropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">t:role2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="classification" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ClassificationCode</targetCodeList>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TestPropertyType">
    <sequence minOccurs="0">
      <element ref="t:Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Test2" substitutionGroup="gml:AbstractFeature" type="t:Test2Type"/>
  <complexType name="Test2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="role2" type="t:AssociationClassPropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">t:role</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Test2PropertyType">
    <sequence minOccurs="0">
      <element ref="t:Test2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
