src/test/resources/reference/xsd/testbasetypes.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:b="http://www.opengis.net/ows8/test/3" xmlns:gco="http://www.isotc211.org/2005/gco" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/ows8/test/3" version="0.1">
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ClassificationCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="ClassificationCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="b:ClassificationCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="Enumeration" substitutionGroup="gco:CharacterString" type="b:Enumeration_Type"/>
  <simpleType name="Enumeration_Type">
    <restriction base="string">
      <enumeration value="val1"/>
      <enumeration value="val2"/>
    </restriction>
  </simpleType>
  <complexType name="Enumeration_PropertyType">
    <sequence minOccurs="0">
      <element ref="b:Enumeration"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="Type1" substitutionGroup="gco:AbstractObject" type="b:Type1_Type">
    <annotation>
      <documentation>This is type 1.</documentation>
    </annotation>
  </element>
  <complexType name="Type1_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="att1" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="att2" type="b:Type1Sub_PropertyType"/>
          <element minOccurs="0" name="att3" type="b:ClassificationCode_PropertyType"/>
          <element name="att4" type="b:Enumeration_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Type1_PropertyType">
    <sequence minOccurs="0">
      <element ref="b:Type1"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="Type1Sub" substitutionGroup="b:Type1" type="b:Type1Sub_Type"/>
  <complexType name="Type1Sub_Type">
    <complexContent>
      <extension base="b:Type1_Type">
        <sequence>
          <element name="att5" type="gco:Integer_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Type1Sub_PropertyType">
    <sequence minOccurs="0">
      <element ref="b:Type1Sub"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
