src/test/resources/constraintConverter/geometryRestrictionToGeometryTV/reference/exclusion/trf/cc_exclusion.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cc="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/exclusion" xmlns:ccsr="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/spatialRep" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/exclusion" version="1.0">
  <import namespace="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/spatialRep"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FeatureTypeA" substitutionGroup="gml:AbstractFeature" type="cc:FeatureTypeAType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="geometry">P,S</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeatureTypeAType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="place" type="ccsr:PlaceInfoPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeAPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeA"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureTypeB" substitutionGroup="gml:AbstractFeature" type="cc:FeatureTypeBType"/>
  <complexType name="FeatureTypeBType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeBPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeB"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureTypeC" substitutionGroup="gml:AbstractFeature" type="cc:FeatureTypeCType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="geometry">C,P,S</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeatureTypeCType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="place" type="ccsr:PlaceInfoPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeCPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeC"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureTypeD" substitutionGroup="cc:FeatureTypeC" type="cc:FeatureTypeDType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="geometry">C,P,S</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeatureTypeDType">
    <complexContent>
      <extension base="cc:FeatureTypeCType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeDPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeD"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureTypeE" substitutionGroup="cc:FeatureTypeD" type="cc:FeatureTypeEType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="geometry">C,P,S</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeatureTypeEType">
    <complexContent>
      <extension base="cc:FeatureTypeDType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeEPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeE"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Type" substitutionGroup="gml:AbstractGML" type="cc:TypeType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="geometry">C</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TypeType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="place" type="ccsr:PlaceInfoPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TypePropertyType">
    <sequence minOccurs="0">
      <element ref="cc:Type"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
