shapechange-app/src/integrationtests/xsd/multipleAppSchema/reference/identity/packageB1.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:testb="http://shapechange.net/test/B" elementFormDefault="qualified" targetNamespace="http://shapechange.net/test/B" version="1.0">
  <include schemaLocation="testB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ClassB1_1" substitutionGroup="gml:AbstractFeature" type="testb:ClassB1_1Type"/>
  <complexType name="ClassB1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClassB1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="testb:ClassB1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
