src/test/resources/reference/prop/test_prop.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:test="http://shapechange.net/test" elementFormDefault="qualified" targetNamespace="http://shapechange.net/test" version="1.0">
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="DataType" substitutionGroup="gml:AbstractObject" type="test:DataTypeType"/>
  <complexType name="DataTypeType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="datatype" type="test:DataType2PropertyType">
        <annotation>
          <documentation>This is another data type.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" name="string" type="string"/>
      <element minOccurs="0" name="boolean" type="boolean"/>
    </sequence>
  </complexType>
  <complexType name="DataTypePropertyType">
    <sequence>
      <element ref="test:DataType"/>
    </sequence>
  </complexType>
  <element name="DataType2" substitutionGroup="gml:AbstractObject" type="test:DataType2Type"/>
  <complexType name="DataType2Type">
    <sequence>
      <element maxOccurs="unbounded" name="string" type="string"/>
      <element minOccurs="0" name="integer" type="integer"/>
    </sequence>
  </complexType>
  <complexType name="DataType2PropertyType">
    <sequence>
      <element ref="test:DataType2"/>
    </sequence>
  </complexType>
  <simpleType name="EnumerationType">
    <restriction base="string">
      <enumeration value="val1"/>
      <enumeration value="val2"/>
    </restriction>
  </simpleType>
  <element name="FeatureType" substitutionGroup="gml:AbstractFeature" type="test:FeatureTypeType">
    <annotation>
      <documentation>This is a feature type.</documentation>
    </annotation>
  </element>
  <complexType name="FeatureTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="integer" type="integer">
            <annotation>
              <documentation>This is an integer.</documentation>
            </annotation>
          </element>
          <element name="character" type="string"/>
          <element maxOccurs="unbounded" name="string" type="string">
            <annotation>
              <documentation>This is a string.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="real" type="double"/>
          <element name="decimal" type="double"/>
          <element name="number" type="double"/>
          <element name="boolean" type="boolean"/>
          <element name="uri" type="anyURI"/>
          <element name="datetime" type="dateTime"/>
          <element name="date" type="date"/>
          <element name="time" type="time"/>
          <element name="measure" type="gml:MeasureType"/>
          <element minOccurs="0" name="length" type="gml:LengthType"/>
          <element name="geometry" type="gml:PointPropertyType"/>
          <element name="secondgeometry" type="gml:SurfacePropertyType"/>
          <element name="metadata">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence minOccurs="0">
                    <element ref="gmd:MD_Metadata"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="datatype" type="test:DataTypePropertyType">
            <annotation>
              <documentation>This is a data type.</documentation>
            </annotation>
          </element>
          <element name="union" type="test:NilUnionPropertyType"/>
          <element name="enum" type="test:EnumerationType"/>
          <element name="codelist" type="gml:CodeType"/>
          <element name="role2" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">test:FeatureTypeProperty</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">test:role1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="role3" type="test:FeatureTypeProperty_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="test:FeatureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureTypeProperty" substitutionGroup="gml:AbstractFeature" type="test:FeatureTypeProperty_Type"/>
  <complexType name="FeatureTypeProperty_Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="codelist" type="gml:CodeType"/>
          <element name="union" type="test:UnionPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="role1">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">test:role2</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence>
                <element ref="test:FeatureType"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeProperty_PropertyType">
    <sequence minOccurs="0">
      <element ref="test:FeatureTypeProperty"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NilUnion" substitutionGroup="gml:AbstractObject" type="test:NilUnionType"/>
  <complexType name="NilUnionType">
    <choice>
      <element name="value" type="test:DataType2PropertyType"/>
      <element name="reason" type="string"/>
    </choice>
  </complexType>
  <complexType name="NilUnionPropertyType">
    <sequence>
      <element ref="test:NilUnion"/>
    </sequence>
  </complexType>
  <element name="Subtype" substitutionGroup="test:FeatureTypeProperty" type="test:SubtypeType"/>
  <complexType name="SubtypeType">
    <complexContent>
      <extension base="test:FeatureTypeProperty_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SubtypePropertyType">
    <sequence minOccurs="0">
      <element ref="test:Subtype"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Union" substitutionGroup="gml:AbstractObject" type="test:UnionType"/>
  <complexType name="UnionType">
    <choice>
      <element name="option1" type="test:EnumerationType"/>
      <element name="option2" type="integer"/>
      <element maxOccurs="unbounded" minOccurs="0" name="option3" type="string"/>
    </choice>
  </complexType>
  <complexType name="UnionPropertyType">
    <sequence>
      <element ref="test:Union"/>
    </sequence>
  </complexType>
</schema>
