shapechange-app/src/integrationtests/sch/codelist2_subtypes/reference/xsd/INPUT/isoStub1_SchematronSchema.sch

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <title>Schematron constraints for schema 'ISO Stub1' and dependent schema(s)</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="iso1" uri="http://example.org/shapechange/sch/codelist2/isoStub1"/>
  <ns prefix="ex1" uri="http://example.org/shapechange/sch/codelist2/subtypes/1"/>
  <ns prefix="ex2" uri="http://example.org/shapechange/sch/codelist2/subtypes/2"/>
  <ns prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
  <ns prefix="gmx" uri="http://www.isotc211.org/2005/gmx"/>
  <pattern>
    <rule context="iso1:FeatureTypeIso1/iso1:att1">
      <assert test="every $codeListUrl in */@codeList satisfies */@codeList='http://example.org/codelists/CodeListIso1'">Code list shall be 'http://example.org/codelists/CodeListIso1'</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex1:FeatureTypeS1_2/iso1:att1">
      <assert test="every $codeListUrl in */@codeList satisfies */@codeList='http://example.org/codelists/CodeListIso1'">Code list shall be 'http://example.org/codelists/CodeListIso1'</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex1:FeatureTypeS1_3/iso1:att1">
      <assert test="every $codeListUrl in */@codeList satisfies */@codeList='http://example.org/codelists/CodeListIso1'">Code list shall be 'http://example.org/codelists/CodeListIso1'</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex2:FeatureTypeS2_2/iso1:att1">
      <assert test="every $codeListUrl in */@codeList satisfies */@codeList='http://example.org/codelists/CodeListIso1'">Code list shall be 'http://example.org/codelists/CodeListIso1'</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="iso1:FeatureTypeIso1/iso1:att2">
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex1:FeatureTypeS1_2/iso1:att2">
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex1:FeatureTypeS1_3/iso1:att2">
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex2:FeatureTypeS2_2/iso1:att2">
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
  </pattern>
</schema>
