src/test/resources/reference/profiling/xsd/A9B5.5/packageRemoval3.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:test="http://shapechange.net/profiling/test1" elementFormDefault="qualified" targetNamespace="http://shapechange.net/profiling/test1" version="1.0">
  <include schemaLocation="test1_packageRemoval.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="T1_ClassPackageRemoval3" substitutionGroup="gml:AbstractFeature" type="test:T1_ClassPackageRemoval3Type"/>
  <complexType name="T1_ClassPackageRemoval3Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_ClassPackageRemoval3PropertyType">
    <sequence minOccurs="0">
      <element ref="test:T1_ClassPackageRemoval3"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
