src/test/resources/flattener/measureTypedProperties/reference/xsd/trf_last/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:t="http://example.org/sc/flattener/measureTypedProperties" elementFormDefault="qualified" targetNamespace="http://example.org/sc/flattener/measureTypedProperties" version="1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Feature" substitutionGroup="gml:AbstractFeature" type="t:FeatureType"/>
  <complexType name="FeatureType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="angle" type="double"/>
          <element minOccurs="0" name="angle_uom" type="string"/>
          <element maxOccurs="unbounded" name="measure" type="double"/>
          <element minOccurs="0" name="measure_uom" type="string"/>
          <element name="scale" type="double"/>
          <element minOccurs="0" name="scale_uom" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="t:Feature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
