shapechange-app/src/integrationtests/constraintConverter/geometryRestrictionToGeometryTV/reference/inclusion/trf/cc_inclusion.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cc="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/inclusion" xmlns:ccsr="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/spatialRep" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/inclusion" version="1">
  <import namespace="http://example.org/shapechange/constraints/constraintConverter/geometryRestrictionToGeometryTV/spatialRep"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FeatureTypeA" substitutionGroup="gml:AbstractFeature" type="cc:FeatureTypeAType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="geometry">P,S</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeatureTypeAType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="place" type="ccsr:PlaceInfoPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeAPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeA"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureTypeB" substitutionGroup="gml:AbstractFeature" type="cc:FeatureTypeBType"/>
  <complexType name="FeatureTypeBType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeBPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeB"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureTypeC" substitutionGroup="gml:AbstractFeature" type="cc:FeatureTypeCType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="geometry">C,P,S</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeatureTypeCType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="place" type="ccsr:PlaceInfoPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypeCPropertyType">
    <sequence minOccurs="0">
      <element ref="cc:FeatureTypeC"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Type" substitutionGroup="gml:AbstractGML" type="cc:TypeType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="geometry">C</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TypeType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="place" type="ccsr:PlaceInfoPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TypePropertyType">
    <sequence minOccurs="0">
      <element ref="cc:Type"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
