src/test/resources/reference/profiling/xsd/A2.3/test4_attributes.xsd_SchematronSchema.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <title>Schematron constraints for schema 'Test4 attributes'</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="test" uri="http://shapechange.net/profiling/test4"/>
  <ns prefix="fn" uri="http://www.w3.org/2005/xpath-functions"/>
  <pattern>
    <rule context="test:T4_Class1">
      <assert test="test:attribute2[fn:matches(.,'[a-zA-Z0-9]+')]">attribute2_Type:  This is the constraint description. </assert>
    </rule>
  </pattern>
</schema>
