src/test/resources/typeConverter/nilReasonPropertyForNillableProperty/reference/xsd/trf/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ext="http://example.org/external" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:t="http://example.org/shapechange/typeconverter/nilReasonPropertyForNillableProperty" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/typeconverter/nilReasonPropertyForNillableProperty" version="1.0">
  <import namespace="http://example.org/external" schemaLocation="external.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FT1" substitutionGroup="gml:AbstractFeature" type="t:FT1Type"/>
  <complexType name="FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att1" type="integer"/>
          <element minOccurs="0" name="att1_myNilReason" type="t:VoidReasonTypeBType"/>
          <element name="att2" type="integer"/>
          <element minOccurs="0" name="att2_myNilReason">
            <complexType>
              <sequence>
                <element ref="ext:ExtVoidReasonTypeD"/>
              </sequence>
            </complexType>
          </element>
          <element name="att3" type="integer"/>
          <element minOccurs="0" name="att3_myNilReason">
            <complexType>
              <sequence>
                <element ref="ext:ExtVoidReasonTypeC"/>
              </sequence>
            </complexType>
          </element>
          <element name="ft1ToFt2_role1" type="t:FT2PropertyType"/>
          <element minOccurs="0" name="ft1ToFt2_role1_myNilReason" type="t:VoidReasonTypeAType"/>
          <element name="ft1ToFt2_role2" type="t:FT2PropertyType"/>
          <element minOccurs="0" name="ft1ToFt2_role2_myNilReason">
            <complexType>
              <sequence>
                <element ref="ext:ExtVoidReasonTypeC"/>
              </sequence>
            </complexType>
          </element>
          <element name="ft1ToFt2_role3" type="t:FT2PropertyType"/>
          <element minOccurs="0" name="ft1ToFt2_role3_myNilReason">
            <complexType>
              <sequence>
                <element ref="ext:ExtVoidReasonTypeC"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="t:FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FT2" substitutionGroup="gml:AbstractFeature" type="t:FT2Type"/>
  <complexType name="FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="t:FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VoidReasonTypeAType">
    <restriction base="string">
      <enumeration value="enum1"/>
      <enumeration value="enum2"/>
    </restriction>
  </simpleType>
  <simpleType name="VoidReasonTypeBType">
    <union memberTypes="t:VoidReasonTypeBEnumerationType t:VoidReasonTypeBOtherType"/>
  </simpleType>
  <simpleType name="VoidReasonTypeBEnumerationType">
    <restriction base="string">
      <enumeration value="code1"/>
      <enumeration value="code2"/>
    </restriction>
  </simpleType>
  <simpleType name="VoidReasonTypeBOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
