src/test/resources/reference/xsd/attributeCreation/trf/test2.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:t="http://test.org/attributeCreation/2" elementFormDefault="qualified" targetNamespace="http://test.org/attributeCreation/2" version="1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Class1" substitutionGroup="gml:AbstractObject" type="t:Class1Type"/>
  <complexType name="Class1Type">
    <sequence>
      <element name="p" type="string"/>
      <element name="GMLID" type="string">
        <annotation>
          <documentation>Alias: abcdefghijklmn</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Class1PropertyType">
    <sequence>
      <element ref="t:Class1"/>
    </sequence>
  </complexType>
</schema>
