src/test/resources/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test6.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ex6="http://example.org/shapechange/sch/xslt2QueryBinding/s6" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/xslt2QueryBinding/s6" version="1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TS6_FT" substitutionGroup="gml:AbstractFeature" type="ex6:TS6_FTType"/>
  <complexType name="TS6_FTType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att1" type="integer"/>
          <element name="att2" type="integer"/>
          <element name="att3" type="integer"/>
          <element name="att4" type="integer"/>
          <element name="att5" type="double"/>
          <element name="att6" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS6_FTPropertyType">
    <sequence minOccurs="0">
      <element ref="ex6:TS6_FT"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
