src/test/resources/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test19.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ex19="http://example.org/shapechange/sch/xslt2QueryBinding/s19" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/xslt2QueryBinding/s19" version="1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TS19_FT" substitutionGroup="gml:AbstractFeature" type="ex19:TS19_FTType"/>
  <complexType name="TS19_FTType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att1" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="att2" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS19_FTPropertyType">
    <sequence minOccurs="0">
      <element ref="ex19:TS19_FT"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
