src/test/resources/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test4_SchematronSchema.sch

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
 <title>Schematron constraints for schema 'Test Schema 4 - Attribute'</title>
 <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
 <ns prefix="ex4" uri="http://example.org/shapechange/sch/xslt2QueryBinding/s4"/>
 <ns prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
 <ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
 <pattern>
  <rule context="ex4:TS4_FT1">
   <let name="A" value="//*[local-name()='TS4_FT3' and namespace-uri()='http://example.org/shapechange/sch/xslt2QueryBinding/s4']"/>
   <assert test="ex4:ft1Att = 1">ts4_ft1_constraint1: inv: ft1Att = 1</assert>
   <assert test="count(ex4:rFT1toFT2Inline/*/ex4:rFT2toFT3Inline/*/ex4:rFT3toFT4Inline/*) = 1">ts4_ft1_constraint10: inv: rFT1toFT2Inline.rFT2toFT3Inline.rFT3toFT4Inline-&gt;size() = 1</assert>
   <assert test="count(for $VAR1 in //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2ByReference/@xlink:href] return $VAR1/ex4:rFT2toFT3Inline/*) = 2">ts4_ft1_constraint11: inv: rFT1toFT2ByReference.rFT2toFT3Inline-&gt;size() = 2</assert>
   <assert test="count(for $VAR1 in //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2ByReference/@xlink:href] return (for $VAR2 in //*[concat('#',@gml:id)=$VAR1/ex4:rFT2toFT3ByReference/@xlink:href] return $VAR2/ex4:rFT3toFT4Inline/*)) = 2">ts4_ft1_constraint12: inv: rFT1toFT2ByReference.rFT2toFT3ByReference.rFT3toFT4Inline-&gt;size() = 2</assert>
   <assert test="count(for $VAR1 in //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2ByReference/@xlink:href] return (for $VAR2 in //*[concat('#',@gml:id)=$VAR1/ex4:rFT2toFT3ByReference/@xlink:href] return (for $VAR3 in //*[concat('#',@gml:id)=$VAR2/ex4:rFT3toFT4ByReference/@xlink:href] return $VAR3))) = 1">ts4_ft1_constraint13: inv: rFT1toFT2ByReference.rFT2toFT3ByReference.rFT3toFT4ByReference-&gt;size() = 1</assert>
   <assert test="count(for $VAR1 in //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2ByReference/@xlink:href] return (for $VAR2 in //*[concat('#',@gml:id)=$VAR1/ex4:rFT2toFT3ByReference/@xlink:href] return (for $VAR3 in ($VAR2/ex4:rFT3toFT4InlineOrByReference/* | //*[concat('#',@gml:id)=$VAR2/ex4:rFT3toFT4InlineOrByReference/@xlink:href]) return $VAR3))) = 2">ts4_ft1_constraint14: inv: rFT1toFT2ByReference.rFT2toFT3ByReference.rFT3toFT4InlineOrByReference-&gt;size() = 2</assert>
   <assert test="count(for $VAR1 in (current()/ex4:rFT1toFT2InlineOrByReference/* | //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2InlineOrByReference/@xlink:href]) return $VAR1) = 2">ts4_ft1_constraint15: inv: rFT1toFT2InlineOrByReference-&gt;size() = 2</assert>
   <assert test="count(for $VAR1 in (current()/ex4:rFT1toFT2InlineOrByReference/* | //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2InlineOrByReference/@xlink:href]) return (for $VAR2 in ($VAR1/ex4:rFT2toFT3InlineOrByReference/* | //*[concat('#',@gml:id)=$VAR1/ex4:rFT2toFT3InlineOrByReference/@xlink:href]) return (for $VAR3 in ($VAR2/ex4:rFT3toFT4InlineOrByReference/* | //*[concat('#',@gml:id)=$VAR2/ex4:rFT3toFT4InlineOrByReference/@xlink:href]) return $VAR3))) = 2">ts4_ft1_constraint16: inv: rFT1toFT2InlineOrByReference.rFT2toFT3InlineOrByReference.rFT3toFT4InlineOrByReference-&gt;size() = 2</assert>
   <assert test="some $x in for $VAR1 in ($A/ex4:rFT3toFT4InlineOrByReference/* | //*[concat('#',@gml:id)=$A/ex4:rFT3toFT4InlineOrByReference/@xlink:href]) return $VAR1 satisfies $x/ex4:ft4Att = current()/ex4:ft1AttFt4Check">ts4_ft1_constraint17: inv: TS4_FT3.allInstances().rFT3toFT4InlineOrByReference-&gt;exists(x|x.ft4Att = self.ft1AttFt4Check)</assert>
   <assert test="ex4:ft1AttDt1/*/ex4:dt1Att = 2.5">ts4_ft1_constraint2: inv: ft1AttDt1.dt1Att = 2.5</assert>
   <assert test="ex4:ft1AttDt1/*/ex4:dt1AttDt2/*/ex4:dt2Att = 'test'">ts4_ft1_constraint3: inv: ft1AttDt1.dt1AttDt2.dt2Att = 'test'</assert>
   <assert test="every $x in ex4:rFT1toFT2Inline/* satisfies $x/ex4:ft2AttClGml32/concat(@codeSpace,'/',text()) = 'http://example.org/codelist/code'">ts4_ft1_constraint4: inv: rFT1toFT2Inline-&gt;forAll(x|x.ft2AttClGml32 = TS4_CL_GML32::code)</assert>
   <assert test="every $x in ex4:rFT1toFT2Inline/* satisfies $x/ex4:ft2AttClIso19139/*/concat(@codeList,'/',@codeListValue) = 'http://example.org/codelist/code'">ts4_ft1_constraint5: inv: rFT1toFT2Inline-&gt;forAll(x|x.ft2AttClIso19139 = TS4_CL_ISO19139::code)</assert>
   <assert test="every $x in for $VAR1 in //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2ByReference/@xlink:href] return $VAR1 satisfies $x/ex4:ft2AttClGml32/concat(@codeSpace,'/',text()) = 'http://example.org/codelist/code'">ts4_ft1_constraint6: inv: rFT1toFT2ByReference-&gt;forAll(x|x.ft2AttClGml32 = TS4_CL_GML32::code)</assert>
   <assert test="every $x in for $VAR1 in //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2ByReference/@xlink:href] return $VAR1 satisfies $x/ex4:ft2AttClIso19139/*/concat(@codeList,'/',@codeListValue) = 'http://example.org/codelist/code'">ts4_ft1_constraint7: inv: rFT1toFT2ByReference-&gt;forAll(x|x.ft2AttClIso19139 = TS4_CL_ISO19139::code)</assert>
   <assert test="every $x in for $VAR1 in (current()/ex4:rFT1toFT2InlineOrByReference/* | //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2InlineOrByReference/@xlink:href]) return $VAR1 satisfies $x/ex4:ft2AttClGml32/concat(@codeSpace,'/',text()) = 'http://example.org/codelist/code'">ts4_ft1_constraint8: inv: rFT1toFT2InlineOrByReference-&gt;forAll(x|x.ft2AttClGml32 = TS4_CL_GML32::code)</assert>
   <assert test="every $x in for $VAR1 in (current()/ex4:rFT1toFT2InlineOrByReference/* | //*[concat('#',@gml:id)=current()/ex4:rFT1toFT2InlineOrByReference/@xlink:href]) return $VAR1 satisfies $x/ex4:ft2AttClIso19139/*/concat(@codeList,'/',@codeListValue) = 'http://example.org/codelist/code'">ts4_ft1_constraint9: inv: rFT1toFT2InlineOrByReference-&gt;forAll(x|x.ft2AttClIso19139 = TS4_CL_ISO19139::code)</assert>
  </rule>
 </pattern>
</schema>
