src/test/resources/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test3.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ex3="http://example.org/shapechange/sch/xslt2QueryBinding/s3" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/xslt2QueryBinding/s3" version="1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TS3_FT1" substitutionGroup="gml:AbstractFeature" type="ex3:TS3_FT1Type"/>
  <complexType name="TS3_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att1" type="double"/>
          <element name="att2" type="double"/>
          <element name="att3" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS3_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="ex3:TS3_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
