src/test/resources/flattener/flattenTypes_propertyCopyDuplicateBehavior/reference/trf/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:t="http://example.org/shapechange/flattener/flattenTypes/propertyCopyDuplicateBehavior" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/flattener/flattenTypes/propertyCopyDuplicateBehavior" version="1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Class1" substitutionGroup="gml:AbstractFeature" type="t:Class1Type"/>
  <complexType name="Class1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Class1PropertyType">
    <sequence minOccurs="0">
      <element ref="t:Class1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
