shapechange-app/src/integrationtests/xsd/descriptorAnnotation/reference/INPUT/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:test="http://example.org/shapechange/xsd/descriptorAnnotation" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/xsd/descriptorAnnotation" version="1.0">
  <annotation>
    <appinfo>
      <sc:descriptor name="globalIdentifier">EAID_3C71400F_3784_4f7a_B884_573BFC270352</sc:descriptor>
    </appinfo>
  </annotation>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="CodeListType">
    <annotation>
      <appinfo>
        <sc:descriptor name="alias">CL</sc:descriptor>
        <sc:descriptor name="documentation">CodeList documentation</sc:descriptor>
        <sc:descriptor name="globalIdentifier">EAID_B8C177FB_3408_49dd_91B3_1DED7E81150E</sc:descriptor>
      </appinfo>
    </annotation>
    <union memberTypes="test:CodeListEnumerationType test:CodeListOtherType"/>
  </simpleType>
  <simpleType name="CodeListEnumerationType">
    <annotation>
      <appinfo>
        <sc:descriptor name="alias">CL</sc:descriptor>
        <sc:descriptor name="documentation">CodeList documentation</sc:descriptor>
        <sc:descriptor name="globalIdentifier">EAID_B8C177FB_3408_49dd_91B3_1DED7E81150E</sc:descriptor>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="code1">
        <annotation>
          <appinfo>
            <sc:descriptor name="alias">c1</sc:descriptor>
            <sc:descriptor name="documentation">code1 documentation</sc:descriptor>
            <sc:descriptor name="globalIdentifier">EAID_AB6E277F_52A4_4d0c_B8FB_4A0B114A7725</sc:descriptor>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="code2">
        <annotation>
          <appinfo>
            <sc:descriptor name="alias">c2</sc:descriptor>
            <sc:descriptor name="documentation">code2 documentation</sc:descriptor>
            <sc:descriptor name="globalIdentifier">EAID_CC8937E2_D8C5_4a9a_A92C_25861E78AF93</sc:descriptor>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="CodeListOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="FeatureType" substitutionGroup="gml:AbstractFeature" type="test:FeatureTypeType">
    <annotation>
      <documentation>FT: FeatureType definition english</documentation>
      <appinfo>
        <sc:descriptor name="alias">FT</sc:descriptor>
        <sc:descriptor name="documentation">FeatureType documentation</sc:descriptor>
        <sc:descriptor lang="de" name="definition">FeatureType definition deutsch</sc:descriptor>
        <sc:descriptor lang="en" name="definition">FeatureType definition english</sc:descriptor>
        <sc:descriptor name="globalIdentifier">EAID_229E7B68_2D8B_42cf_A7A2_BAB9EDA5AE2E</sc:descriptor>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeatureTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att1" type="integer">
            <annotation>
              <appinfo>
                <sc:descriptor name="alias">a1</sc:descriptor>
                <sc:descriptor name="primaryCode">primaryCode att1</sc:descriptor>
                <sc:descriptor name="documentation">att1 documentation</sc:descriptor>
                <sc:descriptor name="description">description att1</sc:descriptor>
                <sc:descriptor name="language">en</sc:descriptor>
                <sc:descriptor name="globalIdentifier">EAID_BECBC365_6DEA_445b_A5A7_CDF12FAB81D4</sc:descriptor>
              </appinfo>
            </annotation>
          </element>
          <element name="role1" type="test:TypePropertyType">
            <annotation>
              <appinfo>
                <sc:descriptor name="alias">r1</sc:descriptor>
                <sc:descriptor name="documentation">role1 documentation</sc:descriptor>
                <sc:descriptor name="legalBasis">legalBasis role1</sc:descriptor>
                <sc:descriptor name="globalIdentifier">EAID_dstAD9263_21FE_4ee9_B470_16B459EFA385</sc:descriptor>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="test:FeatureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Type" substitutionGroup="gml:AbstractGML" type="test:TypeType">
    <annotation>
      <appinfo>
        <sc:descriptor name="alias">T</sc:descriptor>
        <sc:descriptor name="documentation">Type documentation</sc:descriptor>
        <sc:descriptor name="example">Example1 Type</sc:descriptor>
        <sc:descriptor name="example">Example2 Type</sc:descriptor>
        <sc:descriptor name="globalIdentifier">EAID_A8C59613_4BA2_43dc_AD65_D6E50F36396E</sc:descriptor>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TypeType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="att2" type="test:CodeListType">
            <annotation>
              <appinfo>
                <sc:descriptor name="alias">a2</sc:descriptor>
                <sc:descriptor name="documentation">att2 documentation</sc:descriptor>
                <sc:descriptor name="dataCaptureStatement">data capture statement att2</sc:descriptor>
                <sc:descriptor name="globalIdentifier">EAID_A8BB3719_132F_4c68_8BF9_2320CBEB6CEE</sc:descriptor>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TypePropertyType">
    <sequence minOccurs="0">
      <element ref="test:Type"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
