shapechange-app/src/integrationtests/xsd/gmlFeatureCollection/reference/INPUT/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:t="http://example.org/shapechange/schema/test"
        elementFormDefault="qualified"
        targetNamespace="http://example.org/shapechange/schema/test"
        version="1.0">
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="MyCollection"
            substitutionGroup="gml:AbstractFeatureCollection"
            type="t:MyCollectionType"/>
   <complexType name="MyCollectionType">
      <complexContent>
         <extension base="gml:AbstractFeatureCollectionType">
            <sequence/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MyCollectionPropertyType">
      <sequence minOccurs="0">
         <element ref="t:MyCollection"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
