src/test/resources/flattener/inheritance2/reference/results/xsd/step1/flat.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:flat="http://shapechange.net/test/flattening/inheritance2" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://shapechange.net/test/flattening/inheritance2" version="FIXME">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="T1_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT1Type"/>
  <complexType name="T1_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attT1Ft1" type="string"/>
          <element name="pFT1" type="flat:T1_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T1_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T1_FT1UnionType"/>
  <complexType name="T1_FT1UnionType">
    <choice>
      <element name="t1_FT1" type="flat:T1_FT1PropertyType"/>
      <element name="t1_FT1_1" type="flat:T1_FT1_1PropertyType"/>
      <element name="t1_FT1_2" type="flat:T1_FT1_2PropertyType"/>
      <element name="t1_FT1_2_1" type="flat:T1_FT1_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T1_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T1_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T1_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT1_1Type"/>
  <complexType name="T1_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attT1Ft1" type="string"/>
          <element name="pFT1" type="flat:T1_FT2PropertyType"/>
          <element name="attT1Ft11" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T1_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT1_2Type"/>
  <complexType name="T1_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attT1Ft1" type="string"/>
          <element name="pFT1" type="flat:T1_FT2PropertyType"/>
          <element name="attT1Ft12" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T1_FT1_2Union" substitutionGroup="gml:AbstractObject" type="flat:T1_FT1_2UnionType"/>
  <complexType name="T1_FT1_2UnionType">
    <choice>
      <element name="t1_FT1_2" type="flat:T1_FT1_2PropertyType"/>
      <element name="t1_FT1_2_1" type="flat:T1_FT1_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T1_FT1_2UnionPropertyType">
    <sequence>
      <element ref="flat:T1_FT1_2Union"/>
    </sequence>
  </complexType>
  <element name="T1_FT1_2_1" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT1_2_1Type"/>
  <complexType name="T1_FT1_2_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attT1Ft1" type="string"/>
          <element name="pFT1" type="flat:T1_FT2PropertyType"/>
          <element name="attT1Ft12" type="string"/>
          <element name="attT1FT121" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT1_2_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT1_2_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T1_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT2Type"/>
  <complexType name="T1_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attT1Ft2" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT1Type"/>
  <complexType name="T2_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T2_FT1UnionType"/>
  <complexType name="T2_FT1UnionType">
    <choice>
      <element name="t2_FT1" type="flat:T2_FT1PropertyType"/>
      <element name="t2_FT1_1" type="flat:T2_FT1_1PropertyType"/>
      <element name="t2_FT1_1_1" type="flat:T2_FT1_1_1PropertyType"/>
      <element name="t2_FT1_2" type="flat:T2_FT1_2PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T2_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T2_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T2_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT1_1Type"/>
  <complexType name="T2_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="attFt11" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT1_1Union" substitutionGroup="gml:AbstractObject" type="flat:T2_FT1_1UnionType"/>
  <complexType name="T2_FT1_1UnionType">
    <choice>
      <element name="t2_FT1_1" type="flat:T2_FT1_1PropertyType"/>
      <element name="t2_FT1_1_1" type="flat:T2_FT1_1_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T2_FT1_1UnionPropertyType">
    <sequence>
      <element ref="flat:T2_FT1_1Union"/>
    </sequence>
  </complexType>
  <element name="T2_FT1_1_1" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT1_1_1Type"/>
  <complexType name="T2_FT1_1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="attFt11" type="integer"/>
          <element name="attFt111" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT1_1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT1_1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT1_2Type"/>
  <complexType name="T2_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="attFt12" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT2Type"/>
  <complexType name="T2_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt2" type="integer"/>
          <element minOccurs="0" name="pFT2_T2_FT1" type="flat:T2_FT1PropertyType"/>
          <element minOccurs="0" name="pFT2_T2_FT1_1" type="flat:T2_FT1_1PropertyType"/>
          <element minOccurs="0" name="pFT2_T2_FT1_1_1" type="flat:T2_FT1_1_1PropertyType"/>
          <element minOccurs="0" name="pFT2_T2_FT1_2" type="flat:T2_FT1_2PropertyType"/>
          </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT1Type"/>
  <complexType name="T3_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="pFT1" type="flat:T3_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T3_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T3_FT1UnionType"/>
  <complexType name="T3_FT1UnionType">
    <choice>
      <element name="t3_FT1" type="flat:T3_FT1PropertyType"/>
      <element name="t3_FT1_1" type="flat:T3_FT1_1PropertyType"/>
      <element name="t3_FT1_2" type="flat:T3_FT1_2PropertyType"/>
      <element name="t3_FT1_2_1" type="flat:T3_FT1_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T3_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T3_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T3_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT1_1Type"/>
  <complexType name="T3_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="pFT1" type="flat:T3_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T3_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt11" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT1_2Type"/>
  <complexType name="T3_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="pFT1" type="flat:T3_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T3_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt12" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT1_2Union" substitutionGroup="gml:AbstractObject" type="flat:T3_FT1_2UnionType"/>
  <complexType name="T3_FT1_2UnionType">
    <choice>
      <element name="t3_FT1_2" type="flat:T3_FT1_2PropertyType"/>
      <element name="t3_FT1_2_1" type="flat:T3_FT1_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T3_FT1_2UnionPropertyType">
    <sequence>
      <element ref="flat:T3_FT1_2Union"/>
    </sequence>
  </complexType>
  <element name="T3_FT1_2_1" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT1_2_1Type"/>
  <complexType name="T3_FT1_2_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="pFT1" type="flat:T3_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T3_FT1_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt12" type="integer"/>
          <element name="attFt121" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT1_2_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT1_2_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT2Type"/>
  <complexType name="T3_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt2" type="integer"/>
          <element minOccurs="0" name="pFT2_T3_FT1" type="flat:T3_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T3_FT1_1" type="flat:T3_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T3_FT1_2" type="flat:T3_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T3_FT1_2_1" type="flat:T3_FT1_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT1Type"/>
  <complexType name="T4_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element minOccurs="0" name="pFT1_T4_FT2" type="flat:T4_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_1" type="flat:T4_FT2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2" type="flat:T4_FT2_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2_1" type="flat:T4_FT2_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T4_FT1UnionType"/>
  <complexType name="T4_FT1UnionType">
    <choice>
      <element name="t4_FT1" type="flat:T4_FT1PropertyType"/>
      <element name="t4_FT1_1" type="flat:T4_FT1_1PropertyType"/>
      <element name="t4_FT1_2" type="flat:T4_FT1_2PropertyType"/>
      <element name="t4_FT1_2_1" type="flat:T4_FT1_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T4_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T4_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T4_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT1_1Type"/>
  <complexType name="T4_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element minOccurs="0" name="pFT1_T4_FT2" type="flat:T4_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_1" type="flat:T4_FT2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2" type="flat:T4_FT2_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2_1" type="flat:T4_FT2_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt11" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT1_2Type"/>
  <complexType name="T4_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element minOccurs="0" name="pFT1_T4_FT2" type="flat:T4_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_1" type="flat:T4_FT2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2" type="flat:T4_FT2_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2_1" type="flat:T4_FT2_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt12" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT1_2Union" substitutionGroup="gml:AbstractObject" type="flat:T4_FT1_2UnionType"/>
  <complexType name="T4_FT1_2UnionType">
    <choice>
      <element name="t4_FT1_2" type="flat:T4_FT1_2PropertyType"/>
      <element name="t4_FT1_2_1" type="flat:T4_FT1_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T4_FT1_2UnionPropertyType">
    <sequence>
      <element ref="flat:T4_FT1_2Union"/>
    </sequence>
  </complexType>
  <element name="T4_FT1_2_1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT1_2_1Type"/>
  <complexType name="T4_FT1_2_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element minOccurs="0" name="pFT1_T4_FT2" type="flat:T4_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_1" type="flat:T4_FT2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2" type="flat:T4_FT2_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2_1" type="flat:T4_FT2_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt12" type="integer"/>
          <element name="attFt121" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT1_2_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT1_2_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT2Type"/>
  <complexType name="T4_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt2" type="integer"/>
          <element minOccurs="0" name="pFT2_T4_FT1" type="flat:T4_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_1" type="flat:T4_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2" type="flat:T4_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2_1" type="flat:T4_FT1_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT2Union" substitutionGroup="gml:AbstractObject" type="flat:T4_FT2UnionType"/>
  <complexType name="T4_FT2UnionType">
    <choice>
      <element name="t4_FT2" type="flat:T4_FT2PropertyType"/>
      <element name="t4_FT2_1" type="flat:T4_FT2_1PropertyType"/>
      <element name="t4_FT2_2" type="flat:T4_FT2_2PropertyType"/>
      <element name="t4_FT2_2_1" type="flat:T4_FT2_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T4_FT2UnionPropertyType">
    <sequence>
      <element ref="flat:T4_FT2Union"/>
    </sequence>
  </complexType>
  <element name="T4_FT2_1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT2_1Type"/>
  <complexType name="T4_FT2_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt2" type="integer"/>
          <element minOccurs="0" name="pFT2_T4_FT1" type="flat:T4_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_1" type="flat:T4_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2" type="flat:T4_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2_1" type="flat:T4_FT1_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt21" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT2_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT2_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT2_2" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT2_2Type"/>
  <complexType name="T4_FT2_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt2" type="integer"/>
          <element minOccurs="0" name="pFT2_T4_FT1" type="flat:T4_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_1" type="flat:T4_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2" type="flat:T4_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2_1" type="flat:T4_FT1_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt22" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT2_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT2_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT2_2Union" substitutionGroup="gml:AbstractObject" type="flat:T4_FT2_2UnionType"/>
  <complexType name="T4_FT2_2UnionType">
    <choice>
      <element name="t4_FT2_2" type="flat:T4_FT2_2PropertyType"/>
      <element name="t4_FT2_2_1" type="flat:T4_FT2_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T4_FT2_2UnionPropertyType">
    <sequence>
      <element ref="flat:T4_FT2_2Union"/>
    </sequence>
  </complexType>
  <element name="T4_FT2_2_1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT2_2_1Type"/>
  <complexType name="T4_FT2_2_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt2" type="integer"/>
          <element minOccurs="0" name="pFT2_T4_FT1" type="flat:T4_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_1" type="flat:T4_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2" type="flat:T4_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2_1" type="flat:T4_FT1_2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="attFt22" type="integer"/>
          <element name="attFt221" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT2_2_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT2_2_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T5_FT" substitutionGroup="gml:AbstractFeature" type="flat:T5_FTType"/>
  <complexType name="T5_FTType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt" type="integer"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T5_FTPropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T5_FT"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T5_FTUnion" substitutionGroup="gml:AbstractObject" type="flat:T5_FTUnionType"/>
  <complexType name="T5_FTUnionType">
    <choice>
      <element name="t5_FT" type="flat:T5_FTPropertyType"/>
      <element name="t5_FT_1" type="flat:T5_FT_1PropertyType"/>
      <element name="t5_FT_2" type="flat:T5_FT_2PropertyType"/>
      <element name="t5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T5_FTUnionPropertyType">
    <sequence>
      <element ref="flat:T5_FTUnion"/>
    </sequence>
  </complexType>
  <element name="T5_FT_1" substitutionGroup="gml:AbstractFeature" type="flat:T5_FT_1Type"/>
  <complexType name="T5_FT_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt" type="integer"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element name="attFt1" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T5_FT_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T5_FT_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T5_FT_2" substitutionGroup="gml:AbstractFeature" type="flat:T5_FT_2Type"/>
  <complexType name="T5_FT_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt" type="integer"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element name="attFt2" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T5_FT_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T5_FT_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T5_FT_2Union" substitutionGroup="gml:AbstractObject" type="flat:T5_FT_2UnionType"/>
  <complexType name="T5_FT_2UnionType">
    <choice>
      <element name="t5_FT_2" type="flat:T5_FT_2PropertyType"/>
      <element name="t5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T5_FT_2UnionPropertyType">
    <sequence>
      <element ref="flat:T5_FT_2Union"/>
    </sequence>
  </complexType>
  <element name="T5_FT_2_1" substitutionGroup="gml:AbstractFeature" type="flat:T5_FT_2_1Type"/>
  <complexType name="T5_FT_2_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt" type="integer"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfSourceA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetA_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT" type="flat:T5_FTPropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_1" type="flat:T5_FT_1PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2" type="flat:T5_FT_2PropertyType"/>
          <element minOccurs="0" name="pFTSelfTargetB_T5_FT_2_1" type="flat:T5_FT_2_1PropertyType"/>
          <element name="attFt2" type="integer"/>
          <element name="attFt21" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T5_FT_2_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T5_FT_2_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T6_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T6_FT1Type"/>
  <complexType name="T6_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt1" type="integer"/>
          <element name="pFT1toFt2BiDirectional" type="flat:T6_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFt2toFt1BiDirectional</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="pFt1toFt2UniDirectional" type="flat:T6_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T6_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T6_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T6_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T6_FT2Type"/>
  <complexType name="T6_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt2" type="integer"/>
          <element name="pFt2toFt1BiDirectional" type="flat:T6_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1toFt2BiDirectional</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T6_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T6_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T6_FT3" substitutionGroup="gml:AbstractFeature" type="flat:T6_FT3Type"/>
  <complexType name="T6_FT3Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFt3" type="integer"/>
          <element name="pFt3TargetBiDirectional" type="flat:T6_FT3PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFt3SelfSourceBiDirectional</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="pFt3SelfSourceBiDirectional" type="flat:T6_FT3PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFt3TargetBiDirectional</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="pFt3SelfTargetUniDirectional" type="flat:T6_FT3PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T6_FT3PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T6_FT3"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
