src/test/resources/reference/profiling/xsd/E/test2_associationClass.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:test="http://shapechange.net/profiling/test2" elementFormDefault="qualified" targetNamespace="http://shapechange.net/profiling/test2" version="1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="T2_Class1" substitutionGroup="gml:AbstractFeature" type="test:T2_Class1Type"/>
  <complexType name="T2_Class1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_Class1PropertyType">
    <sequence minOccurs="0">
      <element ref="test:T2_Class1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
