src/test/resources/sch/oclOnCodelistTypedProperty/test_instance_documents/testOclOnCodeListTypedProperty.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cliso="http://example.org/shapechange/sch/oclOnCodelistTypedProperty/iso19139" xmlns:ex="http://example.org/shapechange/sch/codelistCheck" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/codelistCheck" version="1">
  <import namespace="http://example.org/shapechange/sch/oclOnCodelistTypedProperty/iso19139" schemaLocation="./codeListIso19139.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="DataType" substitutionGroup="gml:AbstractObject" type="ex:DataTypeType"/>
  <complexType name="DataTypeType">
    <sequence>
      <element name="att1iso" type="cliso:CodeListIso19139_PropertyType"/>
      <element maxOccurs="unbounded" name="att2iso" type="cliso:CodeListIso19139_PropertyType"/>
      <element name="att3Gml32" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="att4Gml32" nillable="true">
        <complexType>
          <simpleContent>
            <extension base="gml:CodeType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="att5Gml33" nillable="true" type="gml:ReferenceType">
        <annotation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CodeListGml33</targetCodeList>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" name="att6Gml33" nillable="true" type="gml:ReferenceType">
        <annotation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CodeListGml33</targetCodeList>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DataTypePropertyType">
    <sequence>
      <element ref="ex:DataType"/>
    </sequence>
  </complexType>
  <element name="FeatureType" substitutionGroup="gml:AbstractFeature" type="ex:FeatureTypeType"/>
  <complexType name="FeatureTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attribute1iso" type="cliso:CodeListIso19139_PropertyType"/>
          <element maxOccurs="unbounded" name="attribute2iso" type="cliso:CodeListIso19139_PropertyType"/>
          <element name="attribute3Gml32" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="attribute4Gml32" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="attribute5Gml33" nillable="true" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CodeListGml33</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="attribute6Gml33" nillable="true" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CodeListGml33</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element name="dt" type="ex:DataTypePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="ex:FeatureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
