src/test/resources/xsd/aaa_sk/reference/testaaask.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:test="http://shapechange.net/test" elementFormDefault="qualified" targetNamespace="http://shapechange.net/test" version="1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="DataType" substitutionGroup="gml:AbstractObject" type="test:DataTypeType"/>
  <complexType name="DataTypeType">
    <sequence>
      <element name="string">
        <simpleType>
          <restriction>
            <simpleType>
              <list itemType="string"/>
            </simpleType>
            <minLength value="1"/>
          </restriction>
        </simpleType>
      </element>
      <element maxOccurs="2" minOccurs="0" name="measure"/>
    </sequence>
    <attribute name="boolean">
      <simpleType>
        <restriction>
          <simpleType>
            <list itemType="boolean"/>
          </simpleType>
          <maxLength value="2"/>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="DataTypePropertyType">
    <sequence>
      <element ref="test:DataType"/>
    </sequence>
  </complexType>
  <simpleType name="EnumerationType">
    <restriction base="string">
      <enumeration value="val1"/>
      <enumeration value="val2"/>
    </restriction>
  </simpleType>
  <element name="FeatureType1" substitutionGroup="gml:AbstractFeature" type="test:FeatureType1Type">
    <annotation>
      <documentation>This is a feature type.</documentation>
    </annotation>
  </element>
  <complexType name="FeatureType1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="integer" type="integer">
            <annotation>
              <documentation>This is an integer.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="string" type="string">
            <annotation>
              <documentation>This is a string.</documentation>
            </annotation>
          </element>
          <element name="geometry" type="gml:PointPropertyType"/>
          <element maxOccurs="5" name="enum" type="test:EnumerationType">
            <annotation>
              <documentation>This is an enum.</documentation>
            </annotation>
          </element>
          <element name="role2" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">test:FeatureType2</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">test:role1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="datatype">
            <complexType>
              <sequence>
                <element ref="test:DataType"/>
              </sequence>
              <attribute name="q0" type="string"/>
              <attribute name="q1" type="integer"/>
              <attribute name="q2" type="boolean"/>
              <attribute name="q3" type="string"/>
              <attribute name="q4" type="string"/>
              <attribute name="q5" type="anyURI"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="feature">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">test:FeatureType2</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:ReferenceType">
                  <attribute name="q" type="test:EnumerationType"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureType1PropertyType">
    <sequence minOccurs="0">
      <element ref="test:FeatureType1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureType2" substitutionGroup="gml:AbstractFeature" type="test:FeatureType2Type"/>
  <complexType name="FeatureType2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="geometry">
            <complexType>
              <sequence maxOccurs="5" minOccurs="0">
                <element ref="gml:Curve"/>
              </sequence>
            </complexType>
          </element>
          <element name="geometry2" nillable="true">
            <complexType>
              <sequence maxOccurs="unbounded">
                <element ref="gml:Point"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="geometry3" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="role1">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">test:role2</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence maxOccurs="unbounded" minOccurs="0">
                <element ref="test:FeatureType1"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureType2PropertyType">
    <sequence minOccurs="0">
      <element ref="test:FeatureType2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
