src/test/resources/profiling/explicitProfileSettings/reference/xsd/A_EPS/test1.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:test="http://shapechange.net/profiling_eps/test" elementFormDefault="qualified" targetNamespace="http://shapechange.net/profiling_eps/test" version="1.0">
  <include schemaLocation="testProfilingEPS.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="T1_ClassSubRemovalA" substitutionGroup="gml:AbstractFeature" type="test:T1_ClassSubRemovalAType"/>
  <complexType name="T1_ClassSubRemovalAType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_ClassSubRemovalAPropertyType">
    <sequence minOccurs="0">
      <element ref="test:T1_ClassSubRemovalA"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
