shapechange-app/src/integrationtests/gmlsf0_and_cdb/basic/reference/results/xsd_gmlsf0/TRF_TAGGED_VALUES/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0" xmlns:t="http://metadata.dod.mil/mdr/ns/GSIP/6.0/tdas/6.0" elementFormDefault="qualified" targetNamespace="http://metadata.dod.mil/mdr/ns/GSIP/6.0/tdas/6.0" version="v1.2">
  <annotation>
    <appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
      <ComplianceLevel xmlns="http://www.opengis.net/gmlsf/2.0">0</ComplianceLevel>
    </appinfo>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="ActorEntity" substitutionGroup="gml:AbstractFeature" type="t:ActorEntityType"/>
  <complexType abstract="true" name="ActorEntityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="DeviceEntity_C" substitutionGroup="gml:AbstractFeature" type="t:DeviceEntity_CType"/>
  <complexType abstract="true" name="DeviceEntity_CType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="DeviceEntity_P" substitutionGroup="gml:AbstractFeature" type="t:DeviceEntity_PType"/>
  <complexType abstract="true" name="DeviceEntity_PType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="DeviceEntity_S" substitutionGroup="gml:AbstractFeature" type="t:DeviceEntity_SType"/>
  <complexType abstract="true" name="DeviceEntity_SType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Heliport_C" substitutionGroup="gml:AbstractFeature" type="t:Heliport_CType"/>
  <complexType name="Heliport_CType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="time_1.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.timeDescription" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.timeDescription" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeElevation" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeOfficialName">
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldType">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/AirfieldType" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="area" type="gml:MeasureType"/>
          <element minOccurs="0" name="facilityOperationalStatus">
            <simpleType>
              <restriction base="string">
                <enumeration value="nonOperational"/>
                <enumeration value="planned"/>
                <enumeration value="notInOperation"/>
                <enumeration value="temporarilyNonOperational"/>
                <enumeration value="operational"/>
                <enumeration value="partiallyOperational"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="highestElevation_1.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_1.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_1.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_2.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="icaoLocationIndicator">
            <simpleType>
              <restriction base="string">
                <maxLength value="4"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="installationOperator" type="string"/>
          <element minOccurs="0" name="length.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="magneticVariation" type="gml:MeasureType"/>
          <element minOccurs="0" name="portOfEntry" type="boolean"/>
          <element minOccurs="0" name="width.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldSymbolType">
            <simpleType>
              <restriction base="string">
                <enumeration value="activeMilitaryHeliport"/>
                <enumeration value="activeCivilHeliport"/>
                <enumeration value="activeMilHeliLessMinFac"/>
                <enumeration value="activeCivHeliLessMinFac"/>
                <enumeration value="decoy"/>
                <enumeration value="activeJointCivMilHeli"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Heliport_P" substitutionGroup="gml:AbstractFeature" type="t:Heliport_PType"/>
  <complexType name="Heliport_PType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="time_1.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.timeDescription" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.timeDescription" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeElevation" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeOfficialName">
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldType">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/AirfieldType" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="area" type="gml:MeasureType"/>
          <element minOccurs="0" name="facilityOperationalStatus">
            <simpleType>
              <restriction base="string">
                <enumeration value="nonOperational"/>
                <enumeration value="planned"/>
                <enumeration value="notInOperation"/>
                <enumeration value="temporarilyNonOperational"/>
                <enumeration value="operational"/>
                <enumeration value="partiallyOperational"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="highestElevation_1.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_1.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_1.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_2.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="icaoLocationIndicator">
            <simpleType>
              <restriction base="string">
                <maxLength value="4"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="installationOperator" type="string"/>
          <element minOccurs="0" name="length.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="magneticVariation" type="gml:MeasureType"/>
          <element minOccurs="0" name="portOfEntry" type="boolean"/>
          <element minOccurs="0" name="width.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldSymbolType">
            <simpleType>
              <restriction base="string">
                <enumeration value="activeMilitaryHeliport"/>
                <enumeration value="activeCivilHeliport"/>
                <enumeration value="activeMilHeliLessMinFac"/>
                <enumeration value="activeCivHeliLessMinFac"/>
                <enumeration value="decoy"/>
                <enumeration value="activeJointCivMilHeli"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="Heliport_S" substitutionGroup="gml:AbstractFeature" type="t:Heliport_SType"/>
  <complexType name="Heliport_SType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="time_1.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.timeDescription" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.timeDescription" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeElevation" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeOfficialName">
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldType">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/AirfieldType" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="area" type="gml:MeasureType"/>
          <element minOccurs="0" name="facilityOperationalStatus">
            <simpleType>
              <restriction base="string">
                <enumeration value="nonOperational"/>
                <enumeration value="planned"/>
                <enumeration value="notInOperation"/>
                <enumeration value="temporarilyNonOperational"/>
                <enumeration value="operational"/>
                <enumeration value="partiallyOperational"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="highestElevation_1.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_1.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_1.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_2.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="icaoLocationIndicator">
            <simpleType>
              <restriction base="string">
                <maxLength value="4"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="installationOperator" type="string"/>
          <element minOccurs="0" name="length.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="magneticVariation" type="gml:MeasureType"/>
          <element minOccurs="0" name="portOfEntry" type="boolean"/>
          <element minOccurs="0" name="width.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldSymbolType">
            <simpleType>
              <restriction base="string">
                <enumeration value="activeMilitaryHeliport"/>
                <enumeration value="activeCivilHeliport"/>
                <enumeration value="activeMilHeliLessMinFac"/>
                <enumeration value="activeCivHeliLessMinFac"/>
                <enumeration value="decoy"/>
                <enumeration value="activeJointCivMilHeli"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LandAerodrome_C" substitutionGroup="gml:AbstractFeature" type="t:LandAerodrome_CType"/>
  <complexType name="LandAerodrome_CType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="time_1.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.timeDescription" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.timeDescription" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeElevation" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeOfficialName">
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldType">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/AirfieldType" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="area" type="gml:MeasureType"/>
          <element minOccurs="0" name="facilityOperationalStatus">
            <simpleType>
              <restriction base="string">
                <enumeration value="nonOperational"/>
                <enumeration value="planned"/>
                <enumeration value="notInOperation"/>
                <enumeration value="temporarilyNonOperational"/>
                <enumeration value="operational"/>
                <enumeration value="partiallyOperational"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="highestElevation_1.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_1.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_1.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_2.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="icaoLocationIndicator">
            <simpleType>
              <restriction base="string">
                <maxLength value="4"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="installationOperator" type="string"/>
          <element minOccurs="0" name="length.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="magneticVariation" type="gml:MeasureType"/>
          <element minOccurs="0" name="portOfEntry" type="boolean"/>
          <element minOccurs="0" name="width.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldSymbolType">
            <simpleType>
              <restriction base="string">
                <enumeration value="activeCivilian"/>
                <enumeration value="activeJointCivMil"/>
                <enumeration value="activeMilitary"/>
                <enumeration value="activeLessMinFac"/>
                <enumeration value="abandonedClosedNotUsable"/>
                <enumeration value="highwayStrip"/>
                <enumeration value="unusableLandingOrTakeOff"/>
                <enumeration value="decoy"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldUse_1">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/LandAerodromeAirfieldUse" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="airfieldUse_2">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/LandAerodromeAirfieldUse" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LandAerodrome_P" substitutionGroup="gml:AbstractFeature" type="t:LandAerodrome_PType"/>
  <complexType name="LandAerodrome_PType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="time_1.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.timeDescription" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.timeDescription" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeElevation" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeOfficialName">
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldType">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/AirfieldType" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="area" type="gml:MeasureType"/>
          <element minOccurs="0" name="facilityOperationalStatus">
            <simpleType>
              <restriction base="string">
                <enumeration value="nonOperational"/>
                <enumeration value="planned"/>
                <enumeration value="notInOperation"/>
                <enumeration value="temporarilyNonOperational"/>
                <enumeration value="operational"/>
                <enumeration value="partiallyOperational"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="highestElevation_1.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_1.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_1.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_2.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="icaoLocationIndicator">
            <simpleType>
              <restriction base="string">
                <maxLength value="4"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="installationOperator" type="string"/>
          <element minOccurs="0" name="length.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="magneticVariation" type="gml:MeasureType"/>
          <element minOccurs="0" name="portOfEntry" type="boolean"/>
          <element minOccurs="0" name="width.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldSymbolType">
            <simpleType>
              <restriction base="string">
                <enumeration value="activeCivilian"/>
                <enumeration value="activeJointCivMil"/>
                <enumeration value="activeMilitary"/>
                <enumeration value="activeLessMinFac"/>
                <enumeration value="abandonedClosedNotUsable"/>
                <enumeration value="highwayStrip"/>
                <enumeration value="unusableLandingOrTakeOff"/>
                <enumeration value="decoy"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldUse_1">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/LandAerodromeAirfieldUse" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="airfieldUse_2">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/LandAerodromeAirfieldUse" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LandAerodrome_S" substitutionGroup="gml:AbstractFeature" type="t:LandAerodrome_SType"/>
  <complexType name="LandAerodrome_SType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="place.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="place.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="place" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="time_1.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_1.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_1.timeDescription" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_1.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.note_1.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.note_2.memorandum" type="string"/>
          <element minOccurs="0" name="time_2.resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="time_2.timeDescription" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_1.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureIdentifier" type="string"/>
          <element minOccurs="0" name="time_2.timeEvaluationQuality_2.qualityMeasureValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeElevation" type="gml:MeasureType"/>
          <element minOccurs="0" name="aerodromeOfficialName">
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldType">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/AirfieldType" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="area" type="gml:MeasureType"/>
          <element minOccurs="0" name="facilityOperationalStatus">
            <simpleType>
              <restriction base="string">
                <enumeration value="nonOperational"/>
                <enumeration value="planned"/>
                <enumeration value="notInOperation"/>
                <enumeration value="temporarilyNonOperational"/>
                <enumeration value="operational"/>
                <enumeration value="partiallyOperational"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="highestElevation_1.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_1.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_1.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.value" type="gml:MeasureType"/>
          <element minOccurs="0" name="highestElevation_2.verticalDatum">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/VerticalDatum" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="highestElevation_2.absoluteVertAccuracy90" type="gml:MeasureType"/>
          <element minOccurs="0" name="icaoLocationIndicator">
            <simpleType>
              <restriction base="string">
                <maxLength value="4"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="installationOperator" type="string"/>
          <element minOccurs="0" name="length.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="length.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="magneticVariation" type="gml:MeasureType"/>
          <element minOccurs="0" name="portOfEntry" type="boolean"/>
          <element minOccurs="0" name="width.lowerValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.upperValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="width.intervalClosureType">
            <simpleType>
              <restriction base="string">
                <enumeration value="openInterval"/>
                <enumeration value="gteToLtInterval"/>
                <enumeration value="gtToLteInterval"/>
                <enumeration value="closedInterval"/>
                <enumeration value="gtSemiInterval"/>
                <enumeration value="gteSemiInterval"/>
                <enumeration value="ltSemiInterval"/>
                <enumeration value="lteSemiInterval"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldSymbolType">
            <simpleType>
              <restriction base="string">
                <enumeration value="activeCivilian"/>
                <enumeration value="activeJointCivMil"/>
                <enumeration value="activeMilitary"/>
                <enumeration value="activeLessMinFac"/>
                <enumeration value="abandonedClosedNotUsable"/>
                <enumeration value="highwayStrip"/>
                <enumeration value="unusableLandingOrTakeOff"/>
                <enumeration value="decoy"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="airfieldUse_1">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/LandAerodromeAirfieldUse" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="airfieldUse_2">
            <complexType>
              <simpleContent>
                <restriction base="gml:CodeType">
                  <attribute fixed="http://api.nsgreg.nga.mil/codelist/LandAerodromeAirfieldUse" name="codeSpace" type="anyURI"/>
                </restriction>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LegalConstraints" substitutionGroup="gml:AbstractFeature" type="t:LegalConstraintsType"/>
  <complexType name="LegalConstraintsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="ResourceConstraints" substitutionGroup="gml:AbstractFeature" type="t:ResourceConstraintsType"/>
  <complexType name="ResourceConstraintsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="securityMarkings.resACCM" type="string"/>
          <element minOccurs="0" name="securityMarkings.resAtomicEnergyMarkings">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element name="securityMarkings.resClassification">
            <simpleType>
              <restriction base="string">
                <maxLength value="2"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resClassificationReason" type="string"/>
          <element minOccurs="0" name="securityMarkings.resClassifiedBy" type="string"/>
          <element minOccurs="0" name="securityMarkings.resDeclassDate">
            <simpleType>
              <restriction base="string">
                <maxLength value="10"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resDeclassEvent" type="string"/>
          <element minOccurs="0" name="securityMarkings.resDeclassExemption">
            <simpleType>
              <restriction base="string">
                <maxLength value="10"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resDerivClassifiedBy" type="string"/>
          <element minOccurs="0" name="securityMarkings.resDerivedFrom" type="string"/>
          <element minOccurs="0" name="securityMarkings.resCompilationReason" type="string"/>
          <element minOccurs="0" name="securityMarkings.resDisplayOnlyTo" type="string"/>
          <element minOccurs="0" name="securityMarkings.resDissemControls">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resFgnGovInfoOpenSource">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resFgnGovInfoProtSource">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resJoint" type="boolean"/>
          <element minOccurs="0" name="securityMarkings.resNATOopen" type="string"/>
          <element minOccurs="0" name="securityMarkings.resNATOprot" type="string"/>
          <element minOccurs="0" name="securityMarkings.resNATOrelTo" type="string"/>
          <element minOccurs="0" name="securityMarkings.resNATOownerProd" type="string"/>
          <element minOccurs="0" name="securityMarkings.resNonIntelComMarkings">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resNonUSControls">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resSciControls">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element name="securityMarkings.resOwnerProducer">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resReleasableTo">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="securityMarkings.resSpAccReqProgIdent" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="TemporalEntity" substitutionGroup="gml:AbstractFeature" type="t:TemporalEntityType"/>
  <complexType abstract="true" name="TemporalEntityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="externalEntityIdentifier_1" type="string"/>
          <element minOccurs="0" name="externalEntityIdentifier_2" type="string"/>
          <element minOccurs="0" name="specifiedDomainValues" type="string"/>
          <element name="uniqueEntityIdentifier">
            <simpleType>
              <restriction base="string">
                <maxLength value="254"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="legalConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:LegalConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="note_1.memorandum" type="string"/>
          <element minOccurs="0" name="note_2.memorandum" type="string"/>
          <element minOccurs="0" name="resourceConstraints" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">t:ResourceConstraints</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="TestFeature" substitutionGroup="gml:AbstractFeature" type="t:TestFeatureType"/>
  <complexType name="TestFeatureType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="role" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>t:Heliport_C</gml:targetElement>
                <gml:targetElement>t:Heliport_P</gml:targetElement>
                <gml:targetElement>t:Heliport_S</gml:targetElement>
                <gml:targetElement>t:LandAerodrome_C</gml:targetElement>
                <gml:targetElement>t:LandAerodrome_P</gml:targetElement>
                <gml:targetElement>t:LandAerodrome_S</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
