src/test/resources/reference/flattening/inheritance/xsd/step1/flat.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:flat="http://shapechange.net/test/flattening/inheritance" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://shapechange.net/test/flattening/inheritance" version="FIXME">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="T1_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT1Type"/>
  <complexType name="T1_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="pFT1" type="flat:T1_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T1_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T1_FT1UnionType"/>
  <complexType name="T1_FT1UnionType">
    <choice>
      <element name="t1_FT1" type="flat:T1_FT1PropertyType"/>
      <element name="t1_FT1_1" type="flat:T1_FT1_1PropertyType"/>
      <element name="t1_FT1_2" type="flat:T1_FT1_2PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T1_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T1_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T1_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT1_1Type"/>
  <complexType name="T1_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="pFT1" type="flat:T1_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T1_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT1_2Type"/>
  <complexType name="T1_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="pFT1" type="flat:T1_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T1_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T1_FT2Type"/>
  <complexType name="T1_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T1_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T1_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT1Type"/>
  <complexType name="T2_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T2_FT1UnionType"/>
  <complexType name="T2_FT1UnionType">
    <choice>
      <element name="t2_FT1" type="flat:T2_FT1PropertyType"/>
      <element name="t2_FT1_1" type="flat:T2_FT1_1PropertyType"/>
      <element name="t2_FT1_2" type="flat:T2_FT1_2PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T2_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T2_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T2_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT1_1Type"/>
  <complexType name="T2_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT1_2Type"/>
  <complexType name="T2_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T2_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T2_FT2Type"/>
  <complexType name="T2_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT2_T2_FT1" type="flat:T2_FT1PropertyType"/>
          <element minOccurs="0" name="pFT2_T2_FT1_1" type="flat:T2_FT1_1PropertyType"/>
          <element minOccurs="0" name="pFT2_T2_FT1_2" type="flat:T2_FT1_2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T2_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T2_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT1Type"/>
  <complexType name="T3_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="pFT1" type="flat:T3_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T3_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T3_FT1UnionType"/>
  <complexType name="T3_FT1UnionType">
    <choice>
      <element name="t3_FT1" type="flat:T3_FT1PropertyType"/>
      <element name="t3_FT1_1" type="flat:T3_FT1_1PropertyType"/>
      <element name="t3_FT1_2" type="flat:T3_FT1_2PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T3_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T3_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T3_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT1_1Type"/>
  <complexType name="T3_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="pFT1" type="flat:T3_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T3_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT1_2Type"/>
  <complexType name="T3_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="pFT1" type="flat:T3_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T3_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T3_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T3_FT2Type"/>
  <complexType name="T3_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT2_T3_FT1" type="flat:T3_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T3_FT1_1" type="flat:T3_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T3_FT1_2" type="flat:T3_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T3_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T3_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT1Type"/>
  <complexType name="T4_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT1_T4_FT2" type="flat:T4_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_1" type="flat:T4_FT2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2" type="flat:T4_FT2_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT1Union" substitutionGroup="gml:AbstractObject" type="flat:T4_FT1UnionType"/>
  <complexType name="T4_FT1UnionType">
    <choice>
      <element name="t4_FT1" type="flat:T4_FT1PropertyType"/>
      <element name="t4_FT1_1" type="flat:T4_FT1_1PropertyType"/>
      <element name="t4_FT1_2" type="flat:T4_FT1_2PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T4_FT1UnionPropertyType">
    <sequence>
      <element ref="flat:T4_FT1Union"/>
    </sequence>
  </complexType>
  <element name="T4_FT1_1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT1_1Type"/>
  <complexType name="T4_FT1_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT1_T4_FT2" type="flat:T4_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_1" type="flat:T4_FT2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2" type="flat:T4_FT2_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT1_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT1_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT1_2" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT1_2Type"/>
  <complexType name="T4_FT1_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT1_T4_FT2" type="flat:T4_FT2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_1" type="flat:T4_FT2_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT1_T4_FT2_2" type="flat:T4_FT2_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT2_T4_FT1_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT1_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT1_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT2" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT2Type"/>
  <complexType name="T4_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT2_T4_FT1" type="flat:T4_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_1" type="flat:T4_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2" type="flat:T4_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT2Union" substitutionGroup="gml:AbstractObject" type="flat:T4_FT2UnionType"/>
  <complexType name="T4_FT2UnionType">
    <choice>
      <element name="t4_FT2" type="flat:T4_FT2PropertyType"/>
      <element name="t4_FT2_1" type="flat:T4_FT2_1PropertyType"/>
      <element name="t4_FT2_2" type="flat:T4_FT2_2PropertyType"/>
    </choice>
  </complexType>
  <complexType name="T4_FT2UnionPropertyType">
    <sequence>
      <element ref="flat:T4_FT2Union"/>
    </sequence>
  </complexType>
  <element name="T4_FT2_1" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT2_1Type"/>
  <complexType name="T4_FT2_1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT2_T4_FT1" type="flat:T4_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_1" type="flat:T4_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2" type="flat:T4_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_1</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT2_1PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT2_1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="T4_FT2_2" substitutionGroup="gml:AbstractFeature" type="flat:T4_FT2_2Type"/>
  <complexType name="T4_FT2_2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="pFT2_T4_FT1" type="flat:T4_FT1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_1" type="flat:T4_FT1_1PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pFT2_T4_FT1_2" type="flat:T4_FT1_2PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">flat:pFT1_T4_FT2_2</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="T4_FT2_2PropertyType">
    <sequence minOccurs="0">
      <element ref="flat:T4_FT2_2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
