shapechange-app/src/integrationtests/flattener/nonDefaultGeometryToFeatureType/reference/xsd/trf_reverseAssociation/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:t="http://example.org/shapechange/schema/test" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/schema/test" version="1.0">
  <annotation>
    <documentation>Alias: applicationSchema</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FeatureType" substitutionGroup="gml:AbstractFeature" type="t:FeatureTypeType">
    <annotation>
      <documentation>Alias: FT</documentation>
    </annotation>
  </element>
  <complexType name="FeatureTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="defaultGeom" type="gml:PointPropertyType">
            <annotation>
              <documentation>Alias: dg</documentation>
            </annotation>
          </element>
          <element name="att" type="integer">
            <annotation>
              <documentation>Alias: a</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="t:FeatureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureType_curve" substitutionGroup="gml:AbstractFeature" type="t:FeatureType_curveType">
    <annotation>
      <documentation>Alias: FT_c</documentation>
    </annotation>
  </element>
  <complexType name="FeatureType_curveType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Alias: </documentation>
            </annotation>
          </element>
          <element name="featureType" type="t:FeatureTypePropertyType">
            <annotation>
              <documentation>Alias: </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureType_curvePropertyType">
    <sequence minOccurs="0">
      <element ref="t:FeatureType_curve"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureType_surface" substitutionGroup="gml:AbstractFeature" type="t:FeatureType_surfaceType">
    <annotation>
      <documentation>Alias: FT_s</documentation>
    </annotation>
  </element>
  <complexType name="FeatureType_surfaceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Alias: </documentation>
            </annotation>
          </element>
          <element name="featureType" type="t:FeatureTypePropertyType">
            <annotation>
              <documentation>Alias: </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureType_surfacePropertyType">
    <sequence minOccurs="0">
      <element ref="t:FeatureType_surface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
