src/test/resources/reference/xsd/codeAbsenceInModel/input/acvv.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:acvv="http://test/absentCodelistValueValidation" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://test/absentCodelistValueValidation" version="1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FeatureType" substitutionGroup="gml:AbstractFeature" type="acvv:FeatureTypeType"/>
  <complexType name="FeatureTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="propCL" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="acvv:FeatureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
