shapechange-app/src/integrationtests/taggedValueTransformer/createOriginalSchemaInfoTags/reference/xsd/TRF_FLAT/testA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        xmlns:ta="http://example.org/shapechange/schema/test/a/flat"
        elementFormDefault="qualified"
        targetNamespace="http://example.org/shapechange/schema/test/a/flat"
        version="1.0">
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="DataType"
            substitutionGroup="gml:AbstractObject"
            type="ta:DataTypeType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="originalClassName">DataType</sc:taggedValue>
            <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="DataTypeType">
      <sequence>
         <element name="dtAtt1" type="double">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="originalInClassName">DataType</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyName">dtAtt1</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyValueType">Real</sc:taggedValue>
                  <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
               </appinfo>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="DataTypePropertyType">
      <sequence>
         <element ref="ta:DataType"/>
      </sequence>
   </complexType>
</schema>
