shapechange-app/src/integrationtests/taggedValueTransformer/createOriginalSchemaInfoTags/reference/xsd/TRF_FLAT/testB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        xmlns:tb="http://example.org/shapechange/schema/test/b/flat"
        elementFormDefault="qualified"
        targetNamespace="http://example.org/shapechange/schema/test/b/flat"
        version="1.0">
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="DataType2"
            substitutionGroup="gml:AbstractObject"
            type="tb:DataType2Type">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="originalClassName">DataType2</sc:taggedValue>
            <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="DataType2Type">
      <sequence>
         <element minOccurs="0" name="integer" type="integer">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="originalInClassName">DataType2</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyMultiplicity">0..1</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyName">integer</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyValueType">Integer</sc:taggedValue>
                  <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
               </appinfo>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="DataType2PropertyType">
      <sequence>
         <element ref="tb:DataType2"/>
      </sequence>
   </complexType>
   <simpleType name="EnumerationType">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="originalClassName">Enumeration</sc:taggedValue>
            <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="val1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="originalInClassName">Enumeration</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyName">val1</sc:taggedValue>
                  <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="val2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="originalInClassName">Enumeration</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                  <sc:taggedValue tag="originalPropertyName">val2</sc:taggedValue>
                  <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <element name="FeatureType1"
            substitutionGroup="gml:AbstractFeature"
            type="tb:FeatureType1Type">
      <annotation>
         <documentation>This is a feature type.</documentation>
         <appinfo>
            <sc:taggedValue tag="originalClassName">FeatureType1</sc:taggedValue>
            <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FeatureType1Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="boolean" type="boolean">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">MixinA</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">boolean</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Boolean</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="enum" type="tb:EnumerationType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">MixinC</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">enum</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Enumeration</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="measure" type="gml:MeasureType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">MixinD</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">measure</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Measure</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="integer" type="integer">
                  <annotation>
                     <documentation>This is an integer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">AbstractSupertype</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">integer</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Integer</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="string_1" type="string">
                  <annotation>
                     <documentation>This is a string.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">string</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">CharacterString</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="string_2" type="string">
                  <annotation>
                     <documentation>This is a string.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">string</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">CharacterString</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="real_1" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">real</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Real</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="real_2" type="double">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">real</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Real</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="geometry" type="gml:PointPropertyType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">geometry</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">GM_Point</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datatype" type="tb:DataType2PropertyType">
                  <annotation>
                     <documentation>This is a data type.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">datatype</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">DataType2</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="role2-FeatureType2">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">role2</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">FeatureType2</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractFeatureMemberType">
                           <sequence minOccurs="0">
                              <element ref="tb:FeatureType2"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element minOccurs="0" name="role2-FeatureType3">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">role2</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">FeatureType2</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractFeatureMemberType">
                           <sequence minOccurs="0">
                              <element ref="tb:FeatureType3"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FeatureType1PropertyType">
      <sequence minOccurs="0">
         <element ref="tb:FeatureType1"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="FeatureType2"
            substitutionGroup="gml:AbstractFeature"
            type="tb:FeatureType2Type">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="originalClassName">FeatureType2</sc:taggedValue>
            <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FeatureType2Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="boolean" type="boolean">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">MixinA</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">boolean</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Boolean</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="codelist" type="gml:CodeType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">MixinB</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">codelist</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">CodeList</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="integer" type="integer">
                  <annotation>
                     <documentation>This is an integer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">AbstractSupertype</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">integer</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Integer</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="role1_1">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType2</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">role1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractFeatureMemberType">
                           <sequence minOccurs="0">
                              <element ref="tb:FeatureType1"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element minOccurs="0" name="role1_2">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType2</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">role1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractFeatureMemberType">
                           <sequence minOccurs="0">
                              <element ref="tb:FeatureType1"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FeatureType2PropertyType">
      <sequence minOccurs="0">
         <element ref="tb:FeatureType2"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="FeatureType3"
            substitutionGroup="gml:AbstractFeature"
            type="tb:FeatureType3Type">
      <annotation>
         <appinfo>
            <sc:taggedValue tag="originalClassName">FeatureType3</sc:taggedValue>
            <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FeatureType3Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="boolean" type="boolean">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">MixinA</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">boolean</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Boolean</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="codelist" type="gml:CodeType">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">MixinB</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">codelist</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">CodeList</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="integer" type="integer">
                  <annotation>
                     <documentation>This is an integer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">AbstractSupertype</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">integer</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Integer</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema A</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="role1_1">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType2</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">role1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractFeatureMemberType">
                           <sequence minOccurs="0">
                              <element ref="tb:FeatureType1"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element minOccurs="0" name="role1_2">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType2</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">0..*</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">role1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">FeatureType1</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
                  <complexType>
                     <complexContent>
                        <extension base="gml:AbstractFeatureMemberType">
                           <sequence minOccurs="0">
                              <element ref="tb:FeatureType1"/>
                           </sequence>
                           <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </extension>
                     </complexContent>
                  </complexType>
               </element>
               <element name="attFt3" type="integer">
                  <annotation>
                     <appinfo>
                        <sc:taggedValue tag="originalInClassName">FeatureType3</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyMultiplicity">1</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyName">attFt3</sc:taggedValue>
                        <sc:taggedValue tag="originalPropertyValueType">Integer</sc:taggedValue>
                        <sc:taggedValue tag="originalSchemaName">Test Schema B</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FeatureType3PropertyType">
      <sequence minOccurs="0">
         <element ref="tb:FeatureType3"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
