shapechange-app/src/integrationtests/featureCatalogue/inheritedConstraints/reference/results/xsd/IDENTITY/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:t="http://www.example.org/shapechange/featurecatalogue/inheritedConstraints" elementFormDefault="qualified" targetNamespace="http://www.example.org/shapechange/featurecatalogue/inheritedConstraints" version="1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FT1" substitutionGroup="gml:AbstractFeature" type="t:FT1Type"/>
  <complexType name="FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="attFT1" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="t:FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FT2" substitutionGroup="t:FT1" type="t:FT2Type"/>
  <complexType name="FT2Type">
    <complexContent>
      <extension base="t:FT1Type">
        <sequence>
          <element name="attFT2" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="t:FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="FT3PropertyType">
    <choice minOccurs="0">
      <element ref="t:FT4"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FT4" substitutionGroup="t:FT2" type="t:FT4Type"/>
  <complexType name="FT4Type">
    <complexContent>
      <extension base="t:FT2Type">
        <sequence>
          <element name="attFT3" type="integer"/>
          <element name="attFT4" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FT4PropertyType">
    <sequence minOccurs="0">
      <element ref="t:FT4"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
