shapechange-app/src/integrationtests/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test4.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ex4="http://example.org/shapechange/sch/xslt2QueryBinding/s4" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/xslt2QueryBinding/s4" version="1">
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TS4_CL_ISO19139" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="TS4_CL_ISO19139_PropertyType">
    <sequence minOccurs="0">
      <element ref="ex4:TS4_CL_ISO19139"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="TS4_DT1" substitutionGroup="gml:AbstractObject" type="ex4:TS4_DT1Type"/>
  <complexType name="TS4_DT1Type">
    <sequence>
      <element minOccurs="0" name="dt1Att" type="double"/>
      <element minOccurs="0" name="dt1AttDt2" type="ex4:TS4_DT2PropertyType"/>
    </sequence>
  </complexType>
  <complexType name="TS4_DT1PropertyType">
    <sequence>
      <element ref="ex4:TS4_DT1"/>
    </sequence>
  </complexType>
  <element name="TS4_DT2" substitutionGroup="gml:AbstractObject" type="ex4:TS4_DT2Type"/>
  <complexType name="TS4_DT2Type">
    <sequence>
      <element minOccurs="0" name="dt2Att" type="string"/>
    </sequence>
  </complexType>
  <complexType name="TS4_DT2PropertyType">
    <sequence>
      <element ref="ex4:TS4_DT2"/>
    </sequence>
  </complexType>
  <element name="TS4_FT1" substitutionGroup="gml:AbstractFeature" type="ex4:TS4_FT1Type"/>
  <complexType name="TS4_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="ft1Att" type="integer"/>
          <element name="ft1AttFt4Check" type="integer"/>
          <element minOccurs="0" name="ft1AttDt1" type="ex4:TS4_DT1PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT1toFT2Inline">
            <complexType>
              <sequence>
                <element ref="ex4:TS4_FT2"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT1toFT2ByReference" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">ex4:TS4_FT2</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT1toFT2InlineOrByReference" type="ex4:TS4_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS4_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="ex4:TS4_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS4_FT2" substitutionGroup="gml:AbstractFeature" type="ex4:TS4_FT2Type"/>
  <complexType name="TS4_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="ft2Att" type="integer"/>
          <element name="ft2AttClGml32" type="gml:CodeType"/>
          <element name="ft2AttClIso19139" type="ex4:TS4_CL_ISO19139_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT2toFT3Inline">
            <complexType>
              <sequence>
                <element ref="ex4:TS4_FT3"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT2toFT3ByReference" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">ex4:TS4_FT3</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT2toFT3InlineOrByReference" type="ex4:TS4_FT3PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS4_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="ex4:TS4_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS4_FT3" substitutionGroup="gml:AbstractFeature" type="ex4:TS4_FT3Type"/>
  <complexType name="TS4_FT3Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="ft3Att" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT3toFT4Inline">
            <complexType>
              <sequence>
                <element ref="ex4:TS4_FT4"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT3toFT4ByReference" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">ex4:TS4_FT4</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT3toFT4InlineOrByReference" type="ex4:TS4_FT4PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS4_FT3PropertyType">
    <sequence minOccurs="0">
      <element ref="ex4:TS4_FT3"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS4_FT4" substitutionGroup="gml:AbstractFeature" type="ex4:TS4_FT4Type"/>
  <complexType name="TS4_FT4Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="ft4Att" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS4_FT4PropertyType">
    <sequence minOccurs="0">
      <element ref="ex4:TS4_FT4"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
