shapechange-app/src/integrationtests/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test11.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ex11="http://example.org/shapechange/sch/xslt2QueryBinding/s11" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/xslt2QueryBinding/s11" version="1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TS11_FT1" substitutionGroup="gml:AbstractFeature" type="ex11:TS11_FT1Type"/>
  <complexType name="TS11_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="att1" type="boolean"/>
          <element minOccurs="0" name="att2" type="integer"/>
          <element minOccurs="0" name="att3" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT1toFT2" type="ex11:TS11_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS11_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="ex11:TS11_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS11_FT2" substitutionGroup="gml:AbstractFeature" type="ex11:TS11_FT2Type"/>
  <complexType name="TS11_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="att" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT2toFT3" type="ex11:TS11_FT3PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT2toFT4" type="ex11:TS11_FT4PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS11_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="ex11:TS11_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS11_FT3" substitutionGroup="gml:AbstractFeature" type="ex11:TS11_FT3Type"/>
  <complexType name="TS11_FT3Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS11_FT3PropertyType">
    <sequence minOccurs="0">
      <element ref="ex11:TS11_FT3"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS11_FT4" substitutionGroup="gml:AbstractFeature" type="ex11:TS11_FT4Type"/>
  <complexType name="TS11_FT4Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS11_FT4PropertyType">
    <sequence minOccurs="0">
      <element ref="ex11:TS11_FT4"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
