shapechange-app/src/integrationtests/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test18.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ex18="http://example.org/shapechange/sch/xslt2QueryBinding/s18" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/xslt2QueryBinding/s18" version="1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TS18_FT" substitutionGroup="gml:AbstractFeature" type="ex18:TS18_FTType"/>
  <complexType name="TS18_FTType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="att1" type="integer"/>
          <element name="att2" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS18_FTPropertyType">
    <sequence minOccurs="0">
      <element ref="ex18:TS18_FT"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
