shapechange-app/src/integrationtests/sch/xslt2QueryBinding/reference/results/xsd_sch_xslt2/INPUT/test10.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ex10="http://example.org/shapechange/sch/xslt2QueryBinding/s10" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://example.org/shapechange/sch/xslt2QueryBinding/s10" version="1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TS10_FT1" substitutionGroup="gml:AbstractFeature" type="ex10:TS10_FT1Type"/>
  <complexType name="TS10_FT1Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="att" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT1toFT2" type="ex10:TS10_FT2PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS10_FT1PropertyType">
    <sequence minOccurs="0">
      <element ref="ex10:TS10_FT1"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS10_FT2" substitutionGroup="gml:AbstractFeature" type="ex10:TS10_FT2Type"/>
  <complexType name="TS10_FT2Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rFT2toFT3" type="ex10:TS10_FT3PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS10_FT2PropertyType">
    <sequence minOccurs="0">
      <element ref="ex10:TS10_FT2"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TS10_FT3" substitutionGroup="gml:AbstractFeature" type="ex10:TS10_FT3Type"/>
  <complexType name="TS10_FT3Type">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="att" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS10_FT3PropertyType">
    <sequence minOccurs="0">
      <element ref="ex10:TS10_FT3"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
