shapechange-app/src/integrationtests/sch/codelist2/reference/xsd/test_schema_gml33/INPUT/testCodelist2_SchematronSchema.sch

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <title>Schematron constraints for schema 'Test Schema'</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="ex" uri="http://example.org/shapechange/sch/codelistCheck"/>
  <ns prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
  <ns prefix="gmx" uri="http://www.isotc211.org/2005/gmx"/>
  <ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
  <pattern>
    <rule context="ex:FeatureType/ex:attribute1iso">
      <assert test="every $codeListUrl in */@codeList satisfies */@codeList='file:/C:/TMP/CodeListIso19139.xml'">Code list shall be 'file:/C:/TMP/CodeListIso19139.xml'</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex:FeatureType/ex:attribute2iso">
      <assert test="every $codeListUrl in */@codeList satisfies */@codeList='file:/C:/TMP/CodeListIso19139.xml'">Code list shall be 'file:/C:/TMP/CodeListIso19139.xml'</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl)) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[@gml:id = substring-after($codeListUrl,'#')])))">Code list shall exist</assert>
      <assert test="every $codeListUrl in */@codeList satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary')]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and boolean(for $codelistDoc in doc(substring-before($codeListUrl,'#')) return exists($codelistDoc//*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeListDictionary' or local-name() = 'CodeListDictionary') and @gml:id = substring-after($codeListUrl,'#')])))">Code list dictionary shall be represented using an ISO 19139 CodeListDictionary</assert>
      <assert test="every $codeListUrl in */@codeList, $codeListValue in */@codeListValue satisfies (not(contains($codeListUrl, '#')) and doc-available($codeListUrl) and doc($codeListUrl)/*/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue]) or (contains($codeListUrl, '#') and doc-available(substring-before($codeListUrl,'#')) and doc(substring-before($codeListUrl,'#'))//*[@gml:id = substring-after($codeListUrl,'#')]/gmx:codeEntry/*[namespace-uri() = 'http://www.isotc211.org/2005/gmx' and (local-name() = 'ML_CodeDefinition' or local-name() = 'CodeDefinition') and gml:identifier = $codeListValue])">Code list value shall exist</assert>
    </rule>
    <rule context="ex:FeatureType/ex:attribute3Gml32">
      <assert test="every $clValueUri in @xlink:href satisfies starts-with(@xlink:href,'file:/C:/TMP/CodeListGml32.xml')">Code list value URI shall start with 'file:/C:/TMP/CodeListGml32.xml'</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri)) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//*[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall exist</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri) and doc($clValueUri)/gml:Definition) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//gml:Definition[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall be represented using GML 3.2 (gml:Definition)</assert>
    </rule>
    <rule context="ex:FeatureType/ex:attribute4Gml32">
      <assert test="every $clValueUri in @xlink:href satisfies starts-with(@xlink:href,'file:/C:/TMP/CodeListGml32.xml')">Code list value URI shall start with 'file:/C:/TMP/CodeListGml32.xml'</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri)) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//*[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall exist</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri) and doc($clValueUri)/gml:Definition) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//gml:Definition[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall be represented using GML 3.2 (gml:Definition)</assert>
    </rule>
    <rule context="ex:FeatureType/ex:attribute5Gml33">
      <assert test="every $clValueUri in @xlink:href satisfies starts-with(@xlink:href,'file:/C:/TMP/CodeListGml33.xml')">Code list value URI shall start with 'file:/C:/TMP/CodeListGml33.xml'</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri)) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//*[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall exist</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri) and doc($clValueUri)/gml:Definition) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//gml:Definition[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall be represented using GML 3.2 (gml:Definition)</assert>
    </rule>
    <rule context="ex:FeatureType/ex:attribute6Gml33">
      <assert test="every $clValueUri in @xlink:href satisfies starts-with(@xlink:href,'file:/C:/TMP/CodeListGml33.xml')">Code list value URI shall start with 'file:/C:/TMP/CodeListGml33.xml'</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri)) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//*[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall exist</assert>
      <assert test="every $clValueUri in @xlink:href satisfies (not(contains($clValueUri, '#')) and doc-available($clValueUri) and doc($clValueUri)/gml:Definition) or (contains($clValueUri, '#') and doc-available(substring-before($clValueUri,'#')) and boolean(for $codelistDoc in doc(substring-before($clValueUri,'#')) return exists($codelistDoc//gml:Definition[@gml:id = substring-after($clValueUri,'#')])))">Code list value shall be represented using GML 3.2 (gml:Definition)</assert>
    </rule>
  </pattern>
</schema>
